---
layout: default
---
{% include nav.html %}
<div class="content list">
<span class="hero-image-wrapper">
<img src="{{ site.baseurl }}/assets/tom5t.png" class="hero-image" style="border-radius: 0px;"/>
<span class="tooltip">Design by <em>tom5t</em></span>
</span>
<!--
{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
-->
</div>
